
body {
  padding: 0;
  margin:0;
  font-family: 'Gloria Hallelujah', cursive;
  background:black;
}

h1 {
  text-align: center;
  font-size: 30px;
  line-height:1;
  margin-bottom: 0;
  color: aliceblue
}

#btn {
  text-align: center;
  padding-top: 25px;
}

.game {
  width:600px;
  height: 525px;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  transform: translate(.5,-5)
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../photos_project1/download\ \(1\).svg") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom:-30px;
}

.mole {
  background:url("../photos_project1/download.svg") bottom center no-repeat;
  background-size:60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top:0;
}
